<table>
  <tr>
    <td> Taille X:</td>
    <td><input type="number" [(ngModel)]="maximumX" (change)="change()"></td>
  </tr>
  <tr>
    <td> Taille Y:</td>
    <td><input type="number" [(ngModel)]="maximumY" (change)="change()"></td>
  </tr>
  <tr>
    <td>Coordonnées :</td>
    <td><input type="number" [max]="maximumX" [(ngModel)]="x" placeholder="X" (keyup)="checkX()"></td>
    <td><input type="number" [max]="maximumY" [(ngModel)]="y" placeholder="Y" (keyup)="checkY()"></td>
  </tr>
  <tr>
    <td>Orientation :</td>
    <td>
      <select [(ngModel)]="orientation" >
        <option value="N">N</option>
        <option value="E">E</option>
        <option value="W">W</option>
        <option value="S">S</option>
      </select>
    </td>
  </tr>
</table>

<div class="row" *ngIf="maximumY && maximumX">
  <table border="1">
    <tr *ngFor="let i of arrayX">
      <td *ngFor="let j of arrayY">

      </td>
    </tr>
  </table>
  <!--      <td *ngFor="let v2 of map.y; let j=index ">{{i}}, {{j}}</td>-->
</div>

