<table>
  <tr>
    <td> Taille X:</td>
    <td><input type="number" [min]="0" [(ngModel)]="maximumX" (change)="change()"></td>
  </tr>
  <tr>
    <td> Taille Y:</td>
    <td><input type="number" [min]="0" [(ngModel)]="maximumY" (change)="change()"></td>
  </tr>
  <tr>
    <td>Coordonnées <i class="fas fa-sun"></i>:</td>
    <td><input type="number" [min]="0" [max]="maximumX" [(ngModel)]="x" placeholder="X" [disabled]="!maximumX"
               (change)="changeXandY()"></td>
    <td><input type="number" [min]="0" [max]="maximumY" [(ngModel)]="y" placeholder="Y" [disabled]="!maximumY"
               (change)="changeXandY()"></td>
  </tr>
  <tr>
    <td>Orientation :</td>
    <td>
      <select [(ngModel)]="orientation" (change)="changeXandY()">
        <option value="N">N</option>
        <option value="E">E</option>
        <option value="W">W</option>
        <option value="S">S</option>
      </select>
    </td>
  </tr>
  <tr *ngIf="orientation && (x!=='')  && (y!=='')">
    <td>Instructions : </td>
    <td><input type="text" [(ngModel)]="instructions" (keyup)="reformatInstruction()" pattern="[D*G*A*]*"></td>
    <td><input type="button" (click)="go()" value="GO"></td>
  </tr>
</table>

<div class="row" *ngIf="maximumY && maximumX">
  <table border="1" class="map">
    <tr *ngFor="let i of arrayY">
      <td *ngFor="let j of arrayX" id="{{j}}-{{i}}"></td>
    </tr>
  </table>
</div>

